/* HERO */
.hero {
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.hero h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #4ADE80;
}

.hero .brand {
  font-family: 'Pacifico', cursive;
  font-weight: 300;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.btn.primary {
  background: #16A34A;
  color: white;
}

.btn.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

/* SECTIONS */
.section {
  padding: 5rem 3rem;
  text-align: center;
  font-family: 'Poppins';
}

.section.light {
  background: #f9f9f9;
}

.subtitle {
  color: #666;
  margin-bottom: 2rem;
}

/* CARDS */
.cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  background: white;
  width: 280px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 1rem 0 0.5rem;
}

.card p {
  color: #16A34A;
  font-weight: 600;
}

.card button {
  margin: 1rem;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #16A34A;
  color: white;
}

/* STEPS */
.steps {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.step {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  width: 180px;
}

/* CTA */
.cta {
  background: #16A34A;
  color: white;
  padding: 4rem;
  text-align: center;
}
