.navbar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 30px;
  background-color: #ffffff;
  z-index: 1000;
}

/* Logo */
.logo {
  color: #16a34a;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center; /* 👈 THIS FIXES IT */
  gap: 50px;
  padding-right: 5rem;
  font-family: "Poppins", sans-serif;
}

/* Nav links */
.nav-links a {
  position: relative;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  padding-bottom: 4px;
}

/* Hover color */
.nav-links a:hover {
  color: #4ade80;
}

/* Active link */
.nav-links a.active {
  color: #4ade80;
  font-weight: 500;
}

/* Underline */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0;
  height: 2px;
  background-color: #4ade80;
  transition: width 0.3s ease;
}

/* Active underline */
.nav-links a.active::after {
  width: 100%;
}

.button {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  background-color: #4ade80;
  border-radius: 1rem;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.button:hover {
  background-color: #22c55e;
}

.button:active {
  transform: scale(0.97);
}
